/* CSS Document */
    
*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{	
    color: #B0B0B0;
    
    background: #303030;
    background: url(../images/bg.png) repeat #303030;    
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%) fixed no-repeat, url(../images/bg.png) repeat #303030;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))) fixed no-repeat, url(../images/bg.png) repeat #303030;
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%) fixed no-repeat, url(../images/bg.png) repeat #303030;
    background: -o-linear-gradient(top, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%) fixed no-repeat, url(../images/bg.png) repeat #303030;
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%) fixed no-repeat, url(../images/bg.png) repeat #303030;
    background: linear-gradient(top, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%) fixed no-repeat, url(../images/bg.png) repeat #303030;
}

a
{	
    color: #CCC;
    text-decoration: none;
}

a:hover
{
    color: #FFF;
}

a img
{
    border: none;
}

p
{
    margin: 1em 0.5em;
}

b
{
    color: #D0D0D0;
    font-weight: 200;
}

h1, h2, h3, h4, #header, #navbar
{
    color: #CCC;
    font-family: 'Droid Serif', serif;
    text-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 0 rgba(0,0,0,0.75);
}

h4
{
    font-size: 90%;
    text-transform: uppercase;
}

blockquote
{
    border: 2px solid rgba(128, 128, 128, 0.1);
    border-left: 16px solid rgba(128, 128, 128, 0.1);
    padding: 0.25em 1em;
}

#container
{
    position: absolute;
    
    left: 20%;
    right: 20%;
    min-width: 600px;
    max-width: 1024px;
    
    z-index: 1;	
}

#logo
{
    margin-top: 2em;
}

#logo img
{
    z-index: 2;
}

#navbar
{	
    margin-top: -51px;
    height: 40px;	
    line-height: 40px;
    
    border-top: 1px #808080 solid;
    border-bottom: 1px #181818 solid;
    
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    background: url(../images/navbar.png) repeat-x;
}

#navbar ul
{		
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    
    border-left: 1px ridge #202020;
    border-left: 1px ridge rgba(32, 32, 32, 0.25); 
    border-right: 1px ridge #606060;
    border-right: 1px ridge rgba(96, 96, 96, 0.25); 
}

#navbar ul li
{
    height: 100%;
    vertical-align: middle;	
    display: table-cell;    
    
    border-left: 1px ridge #606060;
    border-left: 1px ridge rgba(96, 96, 96, 0.25); 
    border-right: 1px ridge #202020;
    border-right: 1px ridge rgba(32, 32, 32, 0.25); 
}

#navbar ul li:hover
{    
    background: #606060;
    background: rgba(128, 128, 128, 0.1);
    
    border-left: 1px ridge #606060;
    border-left: 1px ridge rgba(96, 96, 96, 0.5); 
    border-right: 1px ridge #000000;
    border-right: 1px ridge rgba(0, 0, 0, 0.25); 
}

#navbar ul li a
{
    padding: 0px 16px;
}

#content
{	
    padding: 2%;
    
    background: #202020;
    background: rgba(0,0,0,0.25), url(../images/bg.png) repeat #202020;    
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 5%, rgba(0,0,0,0.25) 95%, rgba(0,0,0,0.5) 100%) no-repeat, url(../images/bg.png) repeat #202020;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(5%,rgba(0,0,0,0.25)), color-stop(95%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.5))) no-repeat, url(../images/bg.png) repeat #202020;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 5%, rgba(0,0,0,0.25) 95%, rgba(0,0,0,0.5) 100%) no-repeat, url(../images/bg.png) repeat #202020;
    background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 5%, rgba(0,0,0,0.25) 95%,rgba(0,0,0,0.5) 100%) no-repeat, url(../images/bg.png) repeat #202020;
    background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 5%, rgba(0,0,0,0.25) 95%,rgba(0,0,0,0.5) 100%) no-repeat, url(../images/bg.png) repeat #202020;
    background: linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 5%, rgba(0,0,0,0.25) 95%,rgba(0,0,0,0.5) 100%) no-repeat, url(../images/bg.png) repeat #202020;
}

#content a
{
    border-bottom: 1px solid rgba(96, 96, 96, 0.5);
}

#content a:hover
{
    background: #606060;
    background: rgba(128, 128, 128, 0.1);
    
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#imagelist
{
    margin: 0px 20px;
    padding: 10px;
    background: #000000;
    background: rgba(0,0,0,0.25);
    border: 1px #000000 solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
} 
    
#imagelist ul
{
    display: inline-block;
    list-style: none;
    width: 100%;
}

#imagelist ul li
{
    display: table-cell;
    padding: 4px;
    height: 100%;
    vertical-align: middle;
}

#imagelist ul li:hover
{
    background: #666666;
    background: rgb(128,128,128,0.25);
}

#footer
{
    padding: 16px 0 16px 0;
    margin-bottom: 2em;
    
    font-size: smaller;
        
    border-top: 1px rgb(96, 96, 96) solid;
    border-bottom: 1px rgb(16, 16, 16) solid;
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    
    background: rgba(64, 64, 64, 0.25);
    background: -moz-linear-gradient(top, rgba(96, 96, 96, 0.5) 0%, rgba(48, 48, 48, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96, 96, 96, 0.5)), color-stop(100%,rgba(48, 48, 48, 0.5)));
    background: -webkit-linear-gradient(top,  rgba(96, 96, 96, 0.5) 0%,rgba(48, 48, 48, 0.5) 100%);
    background: -o-linear-gradient(top,  rgba(96, 96, 96, 0.5) 0%,rgba(48, 48, 48, 0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(96, 96, 96, 0.5) 0%,rgba(48, 48, 48, 0.5) 100%);
    background: linear-gradient(top,  rgba(96, 96, 96, 0.5) 0%,rgba(48, 48, 48, 0.5) 100%);
}
    
