
#Voodoo-specific ignores
[Bb]in
[Bb]uild
[Dd]ocs/html
doxylog
CodeAnalyst
[Tt]emplate
*~
*.swp
*.tmp
*.orig
*.chm
*.ipch
Analysis/Yasca/Yasca-Report-*.html
Analysis/kwstyle/output/*
Resources/Installers/Output/*
[Dd]ependencies/*/*
[Dd]ebug
[Rr]elease
VoodooPaths.props
autoexp.dat

#Build version file
VoodooBuild_*.hpp

#Temp ignore for CMake files (until system is ready)
CMakeLists.txt

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
Framework/Core/Version_Build.hpp
