
#Voodoo-specific ignores
[Bb]in
[Bb]uild
[Dd]ocs/doxygen
doxylog
CodeAnalyst
[Tt]emplate
*~
*.swp
*.tmp
Analysis/Yasca/Yasca-Report-*.html
Resources/Installers/Output/*
[Dd]ependencies/*/*
[Dd]ebug
[Rr]elease

#Temp ignore for CMake files (until system is ready)
CMakeLists.txt

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.lib
*.sbr
*.vs10x
obj/
_ReSharper*/
[Tt]est[Rr]esult*
