
# Voodoo-specific ignores
Analysis/Yasca/Yasca-Report-*.html
Analysis/kwstyle/output/*
[Dd]ependencies/*/*
[Bb]in
[Bb]uild
CodeAnalyst
[Dd]ocs/html
ipch
[Tt]emplate
doxylog
VoodooPaths.props

# Build version file
Framework/Core/Version_Build.hpp

# Temp ignore for CMake files (until system is ready)
CMakeLists.txt

# ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*~
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.lib
*.sbr
*.swp
*.tmp
*.orig
*.chm
*.ipch
obj/
_ReSharper*/
[Tt]est[Rr]esult*