@charset "utf-8";
/* CSS Document */

body
{
	background: #102040;
	font-family:Arial, Helvetica, sans-serif;
}

.menu
{
	background: #CCCCCC;
	
	width: 10em;
	top: 5em;
	left: 2.5em;
	
	position: fixed;
	z-index: 2;
	
	float: left;
	overflow: hidden;
	
	border-right: #9999AA groove;
}

.menu ul
{
	list-style: disc;
	margin: 10px 10px 10px -10px;
}

.menu ul li:hover
{
	background: #AAAAAA;
}

.content
{
	background: #DDD;	
	
	width: 45em;
	top: 2.5em;
	left: 12.5em;
	
	position: absolute;
	z-index: 1;
	
	padding: 1.5em;
	
	border: #99AA99 ridge;
}